@inherits LayoutComponentBase

<div class="page">
    <div class="main">
        <NavMenu />
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                @Body
            </div>
        </section>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Developer studios</p></div>
        </footer>
    </div>
</div>
